<%= render 'layouts/navigation' %>

<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">“Only those who dare to fail greatly can ever achieve greatly.”</h1>
                <hr>
                <p>PlaceMentor helps you to get information regarding Oncampus companies visit!<br>Designed for Jamians only</p>
                <%= link_to "Sign Up Now!", register_path, class: "btn btn-primary btn-xl page-scroll" %>
            </div>
        </div>
</header>