<div style="padding-top: 50px;">
    <%= render 'layouts/navigationWithoutLogin' %>
</div>

<div>
    
    <div class="row">
        <strong><h3 class="text-center" style="margin-bottom: 10px"></h3></strong>
    </div>
    <img src="/assets/form.jpg" id="mybg" alt="background image">
    <%= render 'form' %>
    
</div>